/*----------Styles for footer----------*/
.website-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1E1E1E;
    border-radius: 24px 24px 0 0;
    padding: 5% 10% 40px;
}

.website-footer > .dark-tile {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
    background-image: url(../images/bg_for_dark_tile.svg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 60px 30px;
}

.website-footer .dark-tile h2 {
    width: 100%;
    font-size: 42px;
    font-weight: 400;
    color: var(--light-heading-color);
}

.website-footer .wrap {
    display: flex;
    border-bottom: 1px solid var(--dark-border-color);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.website-footer .soc-links {
    list-style-type: none;
    margin-top: 20px;
}

.website-footer .soc-links li {
    display: inline-block;
}

.website-footer .soc-link {
    display: inline-block;
    height: 32px;
    width: 32px;
    background-color: #303030;
    border: 1px solid #606060;
    border-radius: 8px;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    color: white;
}

.website-footer .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-footer .wrap form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 50%;
}

.website-footer .wrap label {
    font-size: 14px;
    line-height: 16.8px;
    color: var(--light-text-color);
}

.website-footer .wrap form input[type="text"] {
    height: 42px;
    width: calc(40% - 40px / 3);
    border-radius: 9px;
    background-color: var(--dark-bg-color);
    border: 1px solid var(--dark-border-color);
    color: #757575;
    padding: 0 10px;
}

.website-footer .wrap form input[type="submit"] {
    height: 42px;
    width: calc(20% - 40px / 3);
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.website-footer .lower-footer {
    display: flex;
    justify-content: space-between;
}

.website-footer .lower-footer div {
    display: flex;
    gap: 20px;
}

.website-footer .lower-footer p {
    font-size: 12px;
    line-height: 18px;
}

.website-footer .lower-footer a {
    font-size: 16px;
    line-height: 20px;
    color: var(--light-text-color);
}
/*----------End of styles for footer----------*/
