:root {
    --light-tile-bg-color: white;
    --dark-tile-bg-color: #262626;
    --dark-text-color: #606060;
    --medium-light-text-color: #DEDEDE;
    --light-text-color: #A1A1A1;
    --border-color: #DEDEDE;
    --dark-border-color: #484848;
    --light-button-bg-color: white;
    --light-button-color: #131313;
    --dark-button-bg: #131313;
    --dark-button-color: white;
    --light-bg-color: #F5F5F5;
    --dark-bg-color: #1F1F1F;
    --dark-heading-color: #131313;
    --light-heading-color: white;
}